In [1]:
# 함수명(), help() - 도움말을 보여주는 함수
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [16]:
# printf = print+function or print+format(서식,속성)
# print, println, printf
# print 함수 
x,y,z = 9,10,11
# 형식화된 문자열.format(출력할 값)
print("정수 1 : {1}".format(x,y,z))  # x=index
print("정수 2 : {0}".format(3**4))

# 형변환(cating) : 자료형을 변환하는 작업
print("정수 3 : {0}".format(int(8.3)/int(2.7)))  # int=integer (정수)
print("정수 3 : {0}".format(float(8.3)/float(2.7))) # float (부동소수점,실수)

정수 1 : 10
정수 2 : 81
정수 3 : 4.0
정수 3 : 3.074074074074074

In [18]:
# 2개 이상의 값을 출력하는 경우
a = 10
b = 20

print("a={}, b={}".format(a,b))
print("a={1}, b={0}".format(a,b))
print("a={1}, b={0}".format(b,a))

a=10, b=20
a=20, b=10
a=10, b=20

In [22]:
print("실수1 : {}".format(8.3/2.7))
print("실수1 : {0:.3f}".format(8.3/2.7))  # f= floating

실수1 : 3.074074074074074
실수1 : 3.074

In [27]:
y = 2.5 + 4.8
print("실수2 : {0:.1f}".format(y))  # 소수첫째자리까지
print("실수2 : {0:.3f}".format(y))  # 소수셋째자리까지

실수2 : 7.3
실수2 : 7.300

In [36]:
r = 8 / float(3)  # 정수와 실수의 계산 = 실수가 됨
print(r)
print("\n")

# 소수점이하 둘째자리까지 출력
print("실수3 : {0:.2f}".format(r)) 
# 소수점이하 넷째자리까지 출력
print("실수3 : {0:.4f}".format(r)) 
# 전체 10자리중에서 소수점이하 넷째자리까지 출력
print("실수3 : {0:10.4f}".format(r))
print("실수3 : {0:10.4f}".format(8.0/3))

2.6666666666666665


실수3 : 2.67
실수3 : 2.6667
실수3 :     2.6667
실수3 :     2.6667

In [38]:
# \n : 개행문자(줄바꿈 문자), 서식문자
multiline = "Hello\nPython"
print(multiline)

Hello
Python

In [41]:
multiline = '''
    안녕하세요
    파이썬
    반갑습니다
'''
multiline

'\n    안녕하세요\n    파이썬\n    반갑습니다\n'

In [42]:
multiline = """
    Hello
    Python
    World
"""
multiline

'\n    Hello\n    Python\n    World\n'

In [46]:
# '+', 산술연산자와 나열연산자
head = "파이썬은"
tail = "재미있다."
print(head, tail)  # ,  열거연산자 / 한 칸의 공백이 주어진다.
print(head + tail)  # 공백없이 출력된다.

파이썬은 재미있다.
파이썬은재미있다.

In [54]:
name = "홍길동"
age = 33

print(name, age)
# print(name + age), 형이 일치하지 않아 오류발생
# str(숫자) : 문자열로 형변환한다.
# print(name + str(age))

print("이름 : {0}, 나이 : {1}".format(name, age))
# print("이름 : {1}, 나이 : {0}".format(name, age))
print("이름 : {1}, 나이 : {0}".format(age, name))

홍길동 33
이름 : 홍길동, 나이 : 33
이름 : 홍길동, 나이 : 33

In [59]:
a = "파이썬"
print(a * 2)  # 문자에서 *는 반복하라는 의미
print(a * 3)

print("=" * 50)
print("My Python Program")
print(50 * "=")

파이썬파이썬
파이썬파이썬파이썬
==================================================
My Python Program
==================================================

In [60]:
print(5*a)

파이썬파이썬파이썬파이썬파이썬

In [64]:
# 문자열의 인덱싱(indexing), []
# 문자열의 슬라이싱(slicing),  [처음위치:마지막-1위치]
a = "life is too short"
print(a[3])
print(a[0:4])

e
life

In [65]:
# 역인덱싱
a[-2]

'r'

In [66]:
a[5:]  # 5번째부터 끝까지

'is too short'

In [67]:
a[:7]  # 0번째부터 6번째까지

'life is'

In [68]:
a[:]  # all

'life is too short'

In [70]:
# in 과 not in (있습니까? / 없습니까?) : True or False
s = "Hello world"
print("world" in s)
print("world" not in s)

True
False

In [93]:
# 출력서식 %기호와 함께 사용
# %d(%i) - decimal(integer), %f - float, %s - string

age = 30
print(type(age))  # integer, %d
print("나이 : %s세" % age)  # 숫자는 문자열로 표현가능하다.
print("나이2 : {0:5d}세".format(age))  # 전체 자릿수 5자리

fruit = "사과"
print("좋아하는 과일 : %s" % fruit)
print("좋아하는 과일2 :{0}".format(fruit))

name = "홍길동"
print("%s님의 나이는 %d세 입니다." % (name, age))
print("{0}님의 나이는 {1}세 입니다?".format(name, age))

rate = 98
print("당첨확률이 %d%%" % rate)  # %% 두개사용
print("당첨확률이 {0}%?".format(rate))  # % 하나만 사용

pi = 3.1415926535
print("원주율 : %10.3f" % pi)
print("원주율 : {0:10.3f} !!".format(pi))

<class 'int'>
나이 : 30세
나이2 :    30세
좋아하는 과일 : 사과
좋아하는 과일2 :사과
홍길동님의 나이는 30세 입니다.
홍길동님의 나이는 30세 입니다?
당첨확률이 98%
당첨확률이 98%?
원주율 :      3.142
원주율 :      3.142 !!

In [94]:
# 원주율을 정확히 알고싶을 때
# 파이썬에서 수학 관련 함수는 math 패키지
import math  # 외부의 math라는 패키지 가져옴
print(math.pi)

3.141592653589793

In [104]:
# 숫자인덱스 대신 변수명을 이용한 서식

result = "{name}님의 나이가 {age}입니다"\
.format(name='이순신', age=33)  # 줄바꿈할때 \표시하면 이어지는걸로 진행
print(result)

이순신님의 나이가 33입니다

In [119]:
result = "{0:10}".format("hi")  # 문자는 왼쪽정렬(기본값)
print(result)

result = "{0:<10}".format("hi")  # <는 왼쪽정렬
print(result)

result = "{0:>10}".format("hi")  # >는 오른쪽정렬
print(result)

result = "{0:^10}".format("hi")  # ^는 가운데정렬
print(result)

result = "{0:=^10}".format("hi")  # ^는 가운데정렬, 공백은(=)으로 표시
print(result)

result = "{0:-^10}".format("hi")  # 공백(-)표시
print(result)

hi
hi
        hi
    hi
====hi====
----hi----

In [121]:
a = "hobby"
print(a)
print(a.count('b'))  # a라는 문자열에서 'b' 라는 글자가 몇 개 있는지 셈

hobby
2

In [125]:
a = 'Have a nice today'
print(a)
print(a.find("nice"))  # a라는 문자열에서 'nice'라는 글자의 시작위치를 알려줌
print(a.find("have"))  # 못찾으면 -1 의 값을 반환

Have a nice today
7
-1

In [129]:
a = "Life is too short"
print(a.index("too"))  # a라는 문자열에서 'kind'의 시작위치를 가져와라
print(a.index("kind"))  # 못찾으면 에러발생

8

In [131]:
a = ","  # join : 합친다
result = a.join("abcdefg")  # 구분자.join("문자열")  - 문자열 사이사이에 a를 넣어라(합쳐라)

print(result)

a,b,c,d,e,f,g

In [138]:
# upper, lower
a = "hello"
result = a.upper()  # 대문자로 변경
print(result)
result = a.lower()  # 소문자로 변경
print(result)

a = "python programing"
result = a.capitalize()  # 첫글자만 대문자로
print(result)

HELLO
hello
Python programing

In [139]:
# replace(A, B) - A를 B로 변경
a = "신입 개발자"
result = a.replace("신입","경력")
print(result)

경력 개발자

In [140]:
# split 
a = "신입 개발자 자바 파이썬 가능자"
result = a.split()  # 공백을 기준으로 분리 - 리스트(자료구조)로 저장함
print(result)

['신입', '개발자', '자바', '파이썬', '가능자']

In [142]:
b = "A:B:C:D:E"
result = b.split(":")  # ":"을 기준으로 분리
print(result)

['A', 'B', 'C', 'D', 'E']