In [1]:
import numpy as np
import pandas as pd

In [2]:
# 집계함수의 절차 : 분리(split)-적용(apply)-결합(combine)
# 통계량을 계산할 열(Series).groupby(기준이 될 열(Series))
# Series : 특정열인덱싱.groupby(기준열인덱싱)
df = pd.DataFrame({'key1':list('aabba'),
                   'key2':['one','two','one','two','one'],
                   'data1':np.random.randn(5),
                   'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.893977 -1.296604
1    a  two  1.324021  2.421498
2    b  one -0.706422  0.101698
3    b  two  1.757961 -1.305872
4    a  one  1.454044  0.788926

In [3]:
# key1 열이 a인 행들에 대해 data1의 평균을 계산하시오.
grouped = df['data1'].groupby(df['key1'])
grouped

In [4]:
#grouped = df['data1'].groupby(df['key1']).mean()
grouped.mean()

key1
a    0.628029
b    0.525769
Name: data1, dtype: float64

In [6]:
# key1과 key2를 그룹하여 data1에 대한 평균을 계산하시오.
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

means

key1  key2
a     one     0.280034
      two     1.324021
b     one    -0.706422
      two     1.757961
Name: data1, dtype: float64

In [7]:
# 하위 계층을 위로 올리는 작업
means.unstack()

key2       one       two
key1
a     0.280034  1.324021
b    -0.706422  1.757961

In [9]:
df.groupby('key1').mean()  # 키단위로 묶어라

         data1     data2
key1
a     0.628029  0.637940
b     0.525769 -0.602087

In [10]:
df.groupby(['key1', 'key2']).mean()  # 여러개는 묶어서  (vector)

              data1     data2
key1 key2
a    one   0.280034 -0.253839
     two   1.324021  2.421498
b    one  -0.706422  0.101698
     two   1.757961 -1.305872

In [11]:
df.groupby(['key1', 'key2'])['data2'].mean()  # data2만 보겠다

key1  key2
a     one    -0.253839
      two     2.421498
b     one     0.101698
      two    -1.305872
Name: data2, dtype: float64

In [12]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.893977 -1.296604
1    a  two  1.324021  2.421498
4    a  one  1.454044  0.788926
b
  key1 key2     data1     data2
2    b  one -0.706422  0.101698
3    b  two  1.757961 -1.305872

In [14]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print(k1, k2)
    print(group)

a one
  key1 key2     data1     data2
0    a  one -0.893977 -1.296604
4    a  one  1.454044  0.788926
a two
  key1 key2     data1     data2
1    a  two  1.324021  2.421498
b one
  key1 key2     data1     data2
2    b  one -0.706422  0.101698
b two
  key1 key2     data1     data2
3    b  two  1.757961 -1.305872

In [15]:
df.groupby(['key1', 'key2']).count()  # 건 수

           data1  data2
key1 key2
a    one       2      2
     two       1      1
b    one       1      1
     two       1      1

In [16]:
df.groupby(['key1', 'key2']).size()  # Series타입

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64