#### 0. 리스트(List)
- 임의의 객체를 순차적으로 저장하는 자료형
- sequency DataType, 시퀀스 자료형
- 변경 가능 ☆
- 대괄호 [] 로 표현
- 중요함수 : range() 연속된 데이터를 생성  - range(k) : 0부터 k-1까지의 숫자를 리스트로 생성

In [47]:
# 리스트 생성
names = ['홍길동', '장보고','이순신','강감찬']
print(names)
print(type(names))

['홍길동', '장보고', '이순신', '강감찬']
<class 'list'>

In [6]:
ages = [12, 20, 33, '41']
print(ages)

[12, 20, 33, '41']

In [10]:
# 인덱싱 [], 인덱스의 시작은 0부터
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a)
print(a[1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2

In [17]:
# 슬라이싱 : 리스트에서 여러개의 데이터추출
# [start : end-1]
print(a)
print(a[0:5])
print(a[6:])
print(a[:3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[7, 8, 9, 10]
[1, 2, 3]

In [19]:
# '+' 연산자를 이용해서 리스트 결합이 가능하다.
a = [1, 2, 3, 4]
b = [5, 6, 7]
print(a)
print(b)
print(a+b)
print(b+a)

[1, 2, 3, 4]
[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[5, 6, 7, 1, 2, 3, 4]

In [22]:
# 리스트는 변경이 가능하다.
# 리스트의 특정 위치의 값을 참조하고 변경
a = [1, 2, 3, 4, 5]
print(a)
print(a[2])
a[3] = 30
print(a)

[1, 2, 3, 4, 5]
3
[1, 2, 3, 30, 5]

In [23]:
# 리스트의 길이를 반환하는 함수 len()
len(a)

5

In [24]:
# append() : 리스트 끝에 추가하는 함수
a = [1, 2, 3]
print(a)
a.append(4)
print(a)

[1, 2, 3]
[1, 2, 3, 4]

In [25]:
# '+' 리스트간의 결합을 의미
# extend()
a = [1, 2, 3]
print(a)
a.extend([4, 5, 6])
print(a)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [27]:
# insert(index, data)  index=첨자, data=데이터 / 정해진 위치에 추가
a = [2, 4, 5]
print(a)
a.insert(0,1)
a.insert(2,3)
print(a)

[2, 4, 5]
[1, 2, 3, 4, 5]

In [31]:
# remove(), 제거하는 함수    cf.pop
a = ['BMW', 'BENZ', 'AUDI', 'VOLKSWAGEN']
print(a)
a.remove('VOLKSWAGEN')
print(a)
a.remove(a[0])
print(a)

['BMW', 'BENZ', 'AUDI', 'VOLKSWAGEN']
['BMW', 'BENZ', 'AUDI']
['BENZ', 'AUDI']

In [37]:
# pop(), 마지막 위치의 요소를 제거하는 함수
a = [1, 2, 3, 4, 5]
print(a)
a.pop()
print(a)
print(a.pop())
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
4
[1, 2, 3]

In [6]:
# count(), 입력된 매개변수와 일치하는 데이터 개수
a = [1, 100, 2, 100, 3, 100]
print(a)
print(a.count(100))

[1, 100, 2, 100, 3, 100]
3

In [44]:
# sort(), 정렬하는 함수(기본 오름차순, reverse=True 내림차순)
a = [3, 4, 5, 2, 1]
print(a)
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[3, 4, 5, 2, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [45]:
# 리스트 요소를 뒤집는 함수
a = [3, 4, 5, 2, 1]
print(a)
a.reverse()
print(a)

[3, 4, 5, 2, 1]
[1, 2, 5, 4, 3]

#### 1. 튜플(Tuple)
- 리스트와 유사하지만 튜플내의 값을 변경할 수 없다.
- 읽기 전용 데이터를 저장할 때 사용
- 변경 불가능 ☆
- 소괄호 () 로 표현

In [46]:
# 튜플 생성하기
a = (1, 2, 3)
print(a)
print(type(a))  # 자료형을 확인하는 함수

(1, 2, 3)
<class 'tuple'>

In [48]:
a = 1, 2, 3, 4, 5  # python에 기본 제공하는 packing기능, tuple이 됨
type(a)

tuple

In [54]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(a)

# 인덱싱과 슬라이싱, [] 대괄호 조건식- 특정 위치값 나타냄,리스트의 의미아님
print(a[3])
print(a[:3])  # 인덱스 0,1,2
print(a[4:6])  # 인덱스 4,5

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
4
(1, 2, 3)
(5, 6)

In [55]:
# 참조는 가능, 변경은 불가능
a = (1, 2, 3)
print(a[0])
a[0] = 7
print(a)  # 에러발생 ; tuple은 재할당불가

1

TypeError: 'tuple' object does not support item assignment

In [57]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
print(t1, t2)
print(t1+t2)

(1, 2, 'a', 'b') (3, 4)
(1, 2, 'a', 'b', 3, 4)

In [58]:
# '*' : 반복
a = [1, 2, 3]
print(a)
print(a*3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [60]:
t1 = (1, 2, 3)
print(t1)
print(t1*2)
print(2*t1)

(1, 2, 3)
(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3)

In [61]:
t1 = (1, 2, 3, 4, 5)
print(t1)
print(len(t1))  # length 길이

(1, 2, 3, 4, 5)
5

In [63]:
# 패킹과 언패킹(packing, unpacking) - 여러개의 값을 하나로 묶음/나눔
t1 = 1, 2, 3  # 패킹, 괄호 없으면 튜플로 간주함
print(t1)

one, two, three = t1  # 언패킹
print(one)

aa, bb = t1  # 에러발생; 요소의 개수가 같아야 한다. (변수 2개 != t1 3개)

(1, 2, 3)
1

ValueError: too many values to unpack (expected 2)

In [65]:
city, latitude, longitude = 'Seoul', 37.541, 126.986
print(city)
print(latitude)
print(longitude)

Seoul
37.541
126.986

In [67]:
# 리스트의 append() ; 뒤에 추가한다.
a = [1, 2, 3]
a.append(4)
print(a)

t1 = 1, 2, 3
t1.append(4)  # 에러발생 ; 튜플은 수정(추가)불가능
print(t1)

[1, 2, 3, 4]

AttributeError: 'tuple' object has no attribute 'append'

In [73]:
# 튜플이 사용가능한 메서드는 index(), count() 뿐이다.
t1 = ('abc', 'def', 'ghi')
print(t1.index('def'))
print(t1.index('jkl'))  # ValueError 튜플에 특정 글자가 존재하지 않음

1

ValueError: tuple.index(x): x not in tuple

In [72]:
t1 = (1, 100, 2, 100, 3, 100)
print(t1.count(100))
print(t1.count(200))

3
0

#### 2. 딕셔너리(Dictionary)
- 파이썬에서 가장 많이 사용하는 자료구조
- 확장된 개념은 DataFrame(데이터프레임)이다.
- 키(key)와 값(value)를 쌍으로 저장하고 관리한다.  ☆ index없음
- 키는 중복을 허용하지 않고, 값은 중복이 허용된다. ☆
- 저장된 데이터의 순서는 의미가 없다.
- 중괄호 {} 로 표현
- 컴마(,)를 기준으로 아이템을 구분한다.
- 아이템은 키와 값을 묶어서 부른다.
- 중요함수 : 사전.keys(), 사전.values(), 사전.items()

In [94]:
# 딕셔너리 생성
dic = {}
dic['파이썬'] = 'www.python.org' # 파이썬이라는 키값을 만듦
dic['애플'] = 'www.apple.com'  # 키값을 만들고 해당 딕셔너리를 생성할 수 있다..
dic['마이크로소프트사'] = 'www.microsoft.com'
print(dic)
print(type(dic))

{'파이썬': 'www.python.org', '애플': 'www.apple.com', '마이크로소프트사': 'www.microsoft.com'}
<class 'dict'>

In [78]:
dic.keys()  # 리스트형태로 나타남, 키는 정수를 권장하지 않는다..

dict_keys(['파이썬', '애플', '마이크로소프트사'])

In [79]:
dic.values()

dict_values(['www.python.org', 'www.apple.com', 'www.microsoft.com'])

In [80]:
dic.items()

dict_items([('파이썬', 'www.python.org'), ('애플', 'www.apple.com'), ('마이크로소프트사', 'www.microsoft.com')])

In [82]:
# 'in' 연산자
'애플' in dic.keys()

True

In [83]:
'사과' in dic.keys()

False

In [84]:
'www.apple.com' in dic.values()

True

In [93]:
students = {'홍길동' : '컴공과', '이순신' : '해양과'}
students  # 홍길동 : 키, 컴공과: 값  - 합쳐서 아이템

{'홍길동': '컴공과', '이순신': '해양과'}

In [95]:
# 'pop' 키와 값을 쌍으로 제거하는 함수 (마지막x, 키값 지정)
print(dic)
dic.pop('애플')
print(dic)

{'파이썬': 'www.python.org', '애플': 'www.apple.com', '마이크로소프트사': 'www.microsoft.com'}
{'파이썬': 'www.python.org', '마이크로소프트사': 'www.microsoft.com'}

In [96]:
# clear() 딕셔너리 요소를 모두 제거하는 함수
print(dic)
dic.clear()
print(dic)

{'파이썬': 'www.python.org', '마이크로소프트사': 'www.microsoft.com'}
{}

In [98]:
person = {'name' : 'kim', 'phone' : '010-1111-2222', 'birth' : '1118'}

In [99]:
person['name']

'kim'

In [102]:
person.keys()

dict_keys(['name', 'phone', 'birth'])

In [103]:
# get() 키는 통해 값을 얻어오는 함수
person.get('phone')

'010-1111-2222'

In [104]:
'name' in person

True

#### 3. 집합(Set)
- 인덱스가 없고 값만 저장되는 자료구조
- 순서는 의미가 없다.
- 중괄호 {} 로 표현
- 컴마(,) 를 기준으로 아이템을 구분
- 중복을 허용하지 않는다. ☆

In [106]:
# 집합 생성
s1 = set()  # 빈 집합
s1 = set([1, 2, 3]) # 리스트로 집합을 만듦
s1

{1, 2, 3}

In [112]:
s2 = set("Hello")  # 중복을 허용하지 않음, 순서는 의미가 없음
s2

{'H', 'e', 'l', 'o'}

In [115]:
s1 = set([1, 2, 3])
l1 = list(s1)  # s1이라는 집합을 리스트로 만듦
print(l1)
print(type(l1))
print(s1)
print(type(s1))

[1, 2, 3]
<class 'list'>
{1, 2, 3}
<class 'set'>

In [116]:
l1[0]

1

In [118]:
t1 = tuple(s1)  # 집합을 튜플로 만듦
t1

(1, 2, 3)

In [119]:
# 교집합, 합집합, 차집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

In [120]:
# 교집합, &(andpercent), intersection()
s1 & s2

{4, 5, 6}

In [122]:
s1.intersection(s2)

{4, 5, 6}

In [123]:
# 합집합, |(pipe), union()
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [124]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [125]:
# 차집합, -(minus), difference()
s1-s2

{1, 2, 3}

In [127]:
s2-s1

{7, 8, 9}

In [130]:
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{8, 9, 7}

In [140]:
# add - 1개의 값을 추가하는 함수
# update - 여러 개의 값을 추가하는 함수
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [141]:
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [142]:
# remove 특정 값을 제거하는 함수
s1.remove(2)
s1

{1, 3, 4, 5, 6}

In [145]:
# 깊은 복사와 얕은 복사
# 얕은복사 (하나의 주소를 같이 사용)
a = [1, 2, 3, 4, 5]
b = a  # 복사 (얕은복사) - b는 a의 주소를 가져옴
b[0] = 10 # b를 수정하면 a와 같은 값을 사용하므로 a도 수정됨
print(a)
print(b)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [150]:
a = [1, 2, 3, 4, 5]
b = a[:]  # 깊은복사 - 주소가 아닌 데이터만 복사함(새로운 공간 만들어짐)
b[0] = 10  # b의 값만 바꿈, a는 그대로
print(a)
print(b)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [151]:
# 날짜 자료형 처리
# 외부의 패키지나 모듈 또는 함수를 불러오는 작업
# import 모듈 : 해당 모듈에 모든 객체를 불러온다.
# from 모듈 import 메서드나 함수 또는 변수 : 해당 모듈의 객체 일부분 불러옴

from datetime import date, time, datetime, timedelta

In [172]:
# today() : 오늘 날짜를 반환하는 함수
today = date.today()
print("today : {0}".format(today))  # 년-월-일
print("연도 : {0}".format(today.year))
print("월 : {0}".format(today.month))
print("일 : {0}".format(today.day))

# 날짜와 시간을 한번에 추출
current_datetime = datetime.today()
print("날짜와 시간 : {0}".format(current_datetime))

today : 2021-04-02
연도 : 2021
월 : 4
일 : 2
날짜와 시간 : 2021-04-02 12:27:46.410571

In [175]:
# 형식화된 날짜 출력
today = datetime.today()  # 날짜와 시간을 반환
print(today)
print(type(today))

2021-04-02 12:30:02.638276
<class 'datetime.datetime'>
2021-04-02 12:30:02.638275

In [179]:
# 날짜를 문자열로 변환하여 서식을 이용해서 출력
# %y, %m, %M, %H, %S, %d (year, month, Minute, Hour, Second, day)
d = today.strftime("%y-%m-%d %H:%M:%S")   # strftime = string format time
print(d)
print(type(d))

21-04-02 12:30:02
<class 'str'>

In [197]:
days = timedelta(days=-1)  # 날짜를 이용해서 특정날짜 알아냄
print(today+days)  # 어제

days = timedelta(days=-7)
print(today+days)  # 1주일 전

days = timedelta(days=30)
print(today+days)  # 30일 후

hours = timedelta(hours=-8)  # 8시간 전
print(today+hours)  
print(hours.days, hours.seconds)

2021-04-01 12:30:02.638276
2021-03-26 12:30:02.638276
2021-05-02 12:30:02.638276
2021-04-02 04:30:02.638276
-1 57600