In [1]:
# 리스트(List) : 여러 개의 데이터를 묶어서 처리하는 순차적 자료형
# 시퀄스자료형(sequence) : 인덱스를 이용해서 접근이 허용/ 순차적-> 인덱스로 접근가능
# 리스트는 대괄호[] 로 묶어준다.
# 각 요소마다 콤마(,)로 구분함.

In [2]:
a = [38, 21, 53, 62, 19]  # 배열은 똑같은 타입의 데이터를 담지만, 리스트는 다른 타입가능
a

[38, 21, 53, 62, 19]

In [8]:
#[조건식], 인덱스값, 슬라이싱값(start:end)
etc = ['kim', 17, 189.3, True]  # 다양한 형태의 자료형을 담을 수 있음
etc

['kim', 17, 189.3, True]

In [11]:
# 빈 리스트 만들기
a = []
print(a)
b = list()
print(b)

[]
[]

In [17]:
# range함수 : 0부터 생성
# range(횟수or개수), range(start,end), range(start, end, step(증감값))
range(10)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
c = list(range(10))
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
d = list(range(5,12))
d

[5, 6, 7, 8, 9, 10, 11]

In [23]:
e = list(range(-4, 10, 2))
e

[-4, -2, 0, 2, 4, 6, 8]

In [25]:
f = list(range(10,0,-1))
f

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
# 튜플(tupe) : 리스트와 유사하다
# 유일하게 리스트와 차이점은 변경불가
# 괄호()로 묶어서, 콤마(,)로 구분
a = 10, 20, 30, 40, 50  # packing - tuple자료형 (기본형)
a

(10, 20, 30, 40, 50)

In [29]:
b = (10, 20, 30, 40, 50)
b

(10, 20, 30, 40, 50)

In [30]:
c = ('james', 33, 3.141592, False)
c

('james', 33, 3.141592, False)

In [31]:
(39)

39

In [32]:
(10,)

(10,)

In [33]:
10,

(10,)

In [34]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [35]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [36]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

In [41]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [42]:
b = (4, 5, 6)
list(b)

[4, 5, 6]

In [43]:
# 리스트와 튜플에 문자열을 담게되면, 각각의 리스트로 쪼개져서 리스트로 담겨짐
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [44]:
tuple("Korea")

('K', 'o', 'r', 'e', 'a')

In [46]:
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

1 2 3

In [47]:
y = (4, 5, 6)
d, e, f = y
print(d, e, f)

4 5 6

In [48]:
# input().split() : 리스트로 반환     # 여러 개의 값을 입력받아서, 여러 개의 변수에 입력해줌
input().split()

10 20 30

['10', '20', '30']

In [49]:
x = input().split()

10 20

In [50]:
a, b = x
print(a, b)

10 20

In [51]:
a, b = input().split()

30, 40

In [52]:
print(a, b)

30, 40

In [71]:
#bank
banklist = []
for i in range(3):
    name, num, money = input().strip().split(",")
    banklist.append([name,num,money])

print(banklist)

a, 34, 23
b, 5, 100
ccc, -1, 4
[['a', ' 34', ' 23'], ['b', ' 5', ' 100'], ['ccc', ' -1', ' 4']]

In [95]:
banklist = []
for i in range(3):
    name, num, money = input().strip().split(",")
    banklist += [name,num,money]

print(banklist)

a, 5, 2
b, 3, 6
c, 7, 1
['a', ' 5', ' 2', 'b', ' 3', ' 6', 'c', ' 7', ' 1']

In [56]:
name, num, money = input().split()
print(name, num, money)

aaa 123 500
aaa 123 500

In [72]:
# sequence 자료형
# list, tuple, range, str .... bytes, bytearray ....

In [76]:
# in 연산자와 not in 연산자 ...  True or False
# 값 in 시퀀스자료형
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)
print(100 not in a)
print(30 not in a)

True
False
True
False

In [77]:
43 in (38, 76, 43, 62, 19)

True

In [78]:
1 in range(10)

True

In [81]:
'P' in 'Hello, Python'

True

In [82]:
# 연결연산자 '+'
a = [0, 10, 20, 30]
b = [9, 8, 7, 5]
a+b

[0, 10, 20, 30, 9, 8, 7, 5]

In [84]:
range(0, 10) + range(10, 20)  # 함수일 뿐이고, 자료형이 아님

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [85]:
list(range(0,10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [86]:
tuple(range(0,10)) + tuple(range(10, 20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [87]:
'Hello, ' + 'Python'

'Hello, Python'

In [88]:
"hello" + 10  # 숫자가 들어가면 사칙연산의 더하기 역할

TypeError: can only concatenate str (not "int") to str

In [89]:
"hello" + str(10)

'hello10'

In [91]:
# 연산자 '*'  - 반복
# 시퀀스 객체 * 정수   - 정수 수만큼 시퀀스 객체가 반복  # 정수 * 시퀀스 객체
[0, 10, 20, 30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [92]:
range(0, 5, 2) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [93]:
list(range(0, 5, 2)) * 3

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [94]:
"Hello" * 3

'HelloHelloHello'

In [96]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [97]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

1
2
3
4
5

In [100]:
for i in a:
    print(i)

1
2
3
4
5

In [102]:
for i in range(5):
    print(i)

0
1
2
3
4

In [103]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [105]:
# 2차원 리스트 : 리스트 안에 리스트를 표현  # 2차원 - 행과 열을 가진 것
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [106]:
# 리스트[세로인덱스][가로인덱스]
a[0][0]  # 0행 0열

10

In [107]:
a[1][1]

40

In [108]:
a[2][1]  # 2행 1열

60

In [109]:
a[0][1] = 1000
a

[[10, 1000], [30, 40], [50, 60]]

In [110]:
a = [[10, 20], [500, 600, 700], [9], [30, 40], [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [800, 900, 1000]]

In [114]:
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [115]:
for i in a:
    print(i)

[10, 20]
[30, 40]
[50, 60]

In [116]:
for i in a:   # i = [10, 20]
    x = i[0]
    y = i[1]
    print(x)
    print(y)

10
20
30
40
50
60

In [117]:
for i in a:
    cnt = len(i)
    for c in range(cnt):  # cnt = 2 >> 0,1
        print(i[c])

10
20
30
40
50
60

In [121]:
a = [[10, 20], [500, 600, 700], [9], [30, 40], [800, 900, 1000]]
for i in a:
    cnt = len(i)
    for c in range(cnt):  # cnt = 2 >> 0,1
        print(i[c])  
    print()  # 동적할당 - 크기가 정해져있지않음. 추가가능

10
20

500
600
700

9

30
40

800
900
1000

In [122]:
a = [(10, 20), (30, 40), (50, 60)]
a

[(10, 20), (30, 40), (50, 60)]

In [124]:
a[0][1] = 200  # 튜플은 값 수정 불가

TypeError: 'tuple' object does not support item assignment

In [125]:
a = [[10, 20], [30, 40], [50, 60]]

for x, y in a:  # i = [10, 20]  # x, y = [10, 20]
    print(x, y)

10 20
30 40
50 60

In [126]:
a = [[10, 20], [30, 40], [50, 60]]

for i in a:     # i = [10, 20]
    for j in i:
        print(j, end = " ")
    print()

10 20
30 40
50 60

In [129]:
for i in range(len(a)):  # 행(세로) 크기
    for j in range(len(a[i])):  # 열(가로) 크기
        print(a[i][j], end = " ")
    print()

10 20
30 40
50 60

In [130]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a):
    x, y = a[i]
    print(x, y)    
    i += 1

10 20
30 40
50 60

In [131]:
i = 0
while i < len(a):  # 행(세로) 크기
    j = 0
    while j < len(a[i]):  # 열(가로) 크기
        print(a[i][j], end = " ")
        j += 1
    print()
    i += 1

10 20
30 40
50 60

In [132]:
a = []  # 빈 리스트 생성

for i in range(10):
    a.append(0)
    
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [136]:
# 2차원 리스트 [[0, 0], [0, 0], [0, 0]]
a = []

for i in range(3):
    item = []
    for j in range(2):
        item.append(0)

    a.append(item)    
a

[[0, 0], [0, 0], [0, 0]]

In [138]:
a = [[0 for j in range(2)]for i in range(3)]  # 리스트 내포
a

[[0, 0], [0, 0], [0, 0]]

In [144]:
# 가로크기가 저장된 리스트를 이용하여 2차원 리스트를 생성하시오.
# 리스트의 요소값은 모두 0으로 설정할 것
a = [3, 1, 3, 2, 5]  # 가로크기를 저장한 리스트  #'0' -3개, '0' -1개, '0' -3개, 2개, 5개

b = []
for i in a:
    item = []
    for j in range(i):
        item.append(0)
    b.append(item)
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [145]:
a = [[0]*i for i in [3, 1, 3, 2, 5]]
print(a)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [147]:
a = [3, 1, 3, 2, 5] 
b = []
for i in a:
    b.append([0]*i)
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [153]:
# 2차원 리스트 정렬
# sorted(반복 가능한 객체, key=정렬함수, reverse=True or False)

students = [['lee', 'C', 19],
            ['kim', 'A', 25],
            ['park', 'B', 7]]

print(sorted(students, key=lambda student:student[1]))  # 학점 기준으로 정렬

[['kim', 'A', 25], ['park', 'B', 7], ['lee', 'C', 19]]

In [154]:
print(sorted(students, key=lambda student:student[2]))

[['park', 'B', 7], ['lee', 'C', 19], ['kim', 'A', 25]]

In [155]:
# reverse : 리스트를 거꾸로 뒤집는다. (내림차순descending 아님..)
a = [1, 10, 5, 7, 6]
a.reverse()
a

[6, 7, 5, 10, 1]

In [160]:
# sort : 기본값(오름차순), reverse=True(내림차순)
a = [1, 10, 5, 7, 6]
a.sort()
print(a)

a.sort(reverse=True)
print(a)

[1, 5, 6, 7, 10]
[10, 7, 6, 5, 1]

In [166]:
string = "나는 파이썬을 잘하고 싶다"
string = string.split()  # split 괄호 안에 비어있으면 공백을 기준으로 나눔 -> list로 저장
string

['나는', '파이썬을', '잘하고', '싶다']

In [167]:
string.sort(key=len)  # key의 길이로 오름차순 정렬
string

['나는', '싶다', '잘하고', '파이썬을']

In [168]:
# 정렬된 결과를 반환하는 함수는 원본이 변하지 않는다.
# sorted : 순서대로 정렬, 정렬된 결과가 리스트로 반환됨
x = [1, 11, 2, 33]
y = sorted(x)  # sorted - 원본은 바뀌지않고 유지된다
print(x)
print(y)

[1, 11, 2, 33]
[1, 2, 11, 33]