#### 0. 표준입출력 함수(print, input)

In [5]:
# 화면에 'Hello, Python'이라는 문자열을 출력하시오.
print("Hello, Python")
print('Hello, Python')

Hello, Python
Hello, Python

In [6]:
# 화면에 "Mary's cosmetics"라는 문자열을 출력하시오.
print("Mary's cosmetics")

Mary's cosmetics

In [7]:
# '신씨가 소리를 질렀다. "도둑이야!"'를 화면에 출력하시오.
print('신씨가 소리를 질렀다. "도둑이야!"')

신씨가 소리를 질렀다. "도둑이아!"

In [8]:
# "c:\windows"를 화면에 출력하시오.
print("c:\windows")

c:\windows

In [9]:
# 제어문자 : \n (new line), \t (tap)
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [10]:
# 열거연산자 : 쉼표(,)
print("오늘은", "월요일", "비가온다네요")

오늘은 월요일 비가온다네요

In [12]:
# sep : 구분자
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [13]:
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [262]:
k=["a", "b", "c"]
k=["a", "b", "c", sep]
print(k)
print(type(k))

['a', 'b', 'c']
<class 'list'>

In [14]:
# 종결문자(;)  - 한 행이 끝났음을 알림
print("first");print("second")

first
second

In [15]:
print("first", end="");print("second")

firstsecond

In [16]:
print(5/3)

1.6666666666666667

#### 1. 할당, 대입연산자(=), 변수에 값을 대입하는 작업 => 바인딩

In [17]:
# 삼성전자라는 변수에 50000원을 바인딩한 후 주식 10주를 보유하고
# 있을 때 총 평가금액을 출력하시오.
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [18]:
# type() 자료형을 확인하는 함수  (int, str, bool, list, tuple, set, dict)
a = 123
print(type(a))

<class 'int'>

In [20]:
# 문자열을 정수로 변환 : int()
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [21]:
# 정수를 문자열로 변환 : str()
num = 100
result =str(num)
print(result, type(result))

100 <class 'str'>

In [22]:
# 문자열을 실수로 변환 : float()
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [24]:
# year라는 변수에 현재 년도를 문자열로 바인딩하고, 정수로 변환한 후
# 최근 3년의 연도를 화면에 출력하시오.
year = "2021"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2018
2019
2020

In [25]:
# 에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매
# 총 금액을 계산하는 프로그램을 구현하시오.
month = 48584
total = month * 36
print(total)

1749024

#### 2. 문자열

In [26]:
# 문자열 인덱싱(indexing)
letters = 'python'
print(letters[0], letters[2])

p t

In [31]:
# 문자열 슬라이싱(slicing) [조건식]  -> [start:end-1]
car_num = "24가 1234"
print(car_num[-4:])

1234

In [33]:
# "홀짝홀짝홀짝" 문자열을 변수에 바인딩한 후 '홀'만 출력하는
# 프로그램을 구현하시오.
# 슬라이싱 [start:end:offset]
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [41]:
# 문자열을 거꾸로 뒤집어 출력하는 프로그램
string = 'python'
print(string[::-1])

nohtyp

In [43]:
# 문자열 치환
phone_number = "010-1234-5678"
phone_number = phone_number.replace("-", " ")
print(phone_number)

010 1234 5678

In [44]:
phone_number = "010-1234-5678"
phone_number = phone_number.replace("-", "")
print(phone_number)

01012345678

In [45]:
# 웹사이트의 url에서 도메인만 출력하는 프로그램을 구현하시오.
# 도메인 : com, net, org, kr
url = "http://www.naver.com"
# split(구분자)
url_split = url.split('.')
print(url_split[-1])

com

In [46]:
url = "http://www.bluehouse.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [49]:
lang = 'python'
lang[0] = 'P'  # 문자열은 수정할 수 없다.
print(lang)
# print(lang.capitalize())

TypeError: 'str' object does not support item assignment

In [52]:
# replace() : 치환
string = "abcde2a354a32a"
# 소문자 'a'를 대문자 'A'로 치환
string = string.replace('a', 'A')
print(string)

Abcde2A354A32A

In [53]:
string = 'abcd'
string.replace('b', 'B')  # 문자열은 변경할 수 없는 자료형
print(string)  # aBcd라는 것이 또다른 기억장소에 저장되어있음

abcd

In [54]:
a = "3"
b = "4"
print(a+b)

34

In [55]:
a = "hi"
print(a*3)

hihihi

In [56]:
print("-"*40)

----------------------------------------

In [58]:
name1 = "장보고"
age1 = 10
name2 = "이순신"
age2 = 13
# %formatting(서식) - %d(%i), %f, %s
print("이름 : %s, 나이 : %d" % (name1, age1))
print("이름 : %s, 나이 : %d" % (name2, age2))

이름 : 장보고, 나이 : 10
이름 : 이순신, 나이 : 13

In [60]:
print("이름 : {}, 나이 : {}".format(name1, age1))
print("이름 : {}, 나이 : {}".format(name2, age2))

이름 : 장보고, 나이 : 10
이름 : 이순신, 나이 : 13

In [63]:
print(f"이름 : {name1}, 나이 : {age1}")
print(f"이름 : {name2}, 나이 : {age2}")

이름 : 장보고, 나이 : 10
이름 : 이순신, 나이 : 13

In [65]:
# 좌우공백을 제거하는 메서드 strip
data = "    삼성전자    "
print(data)
print(data.strip())

    삼성전자
삼성전자

In [68]:
# upper, lower, capitalize
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)
ticker2 = ticker1.lower()
print(ticker2)

BTC_KRW
btc_krw

In [69]:
a = 'hello'
a = a.capitalize()
print(a)

Hello

In [73]:
# endswith : 해당 문자열의 끝문자를 확인
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [84]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx" or "xls")

True

In [76]:
# startswith : 해당 문자열의 시작문자를 확인
file_name = "2021_보고서.xlsx"
file_name.startswith("2021")

True

In [88]:
# split
a = "hello python"
# 공백을 기준으로 문자열 분리
a.split()

['hello', 'python']

In [89]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [90]:
date = "2021-04-12"
date.split("-")

['2021', '04', '12']

#### 3. 리스트(List)

In [97]:
# 시퀀스 자료형, 인덱스, 순서가 있고 수정 가능한 자료구조  / sequence 자료형 - 데이터를 순서(인덱스)대로 나열하는 자료형
movie = ["럭키", "닥터스트레인지", "스플릿"]
movie

['럭키', '닥터스트레인지', '스플릿']

In [98]:
# 배트맨
movie.append("배트맨")
movie

['럭키', '닥터스트레인지', '스플릿', '배트맨']

In [99]:
# 특정 위치에 요소를 추가할 때 : insert
movie.insert(2, "슈퍼맨")
movie

['럭키', '닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [100]:
del movie[0]
movie

['닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [101]:
# 스플릿과 배트맨을 삭제하는 작업
del movie[3]
del movie[3]
movie

['닥터스트레인지', '슈퍼맨']

In [102]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "R", "C#"]
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'R', 'C#']

In [104]:
# min()와 max()
numbers = [1, 2, 3, 4, 5, 6, 7]
# 최댓값과 최솟값을 출력
print("max : ", max(numbers))
print("min : ", min(numbers))

max :  7
min :  1

In [107]:
# sum()
nums = [1, 2, 3, 4, 5]
# 합계
print("sum : ", sum(nums))

sum :  15

In [108]:
# 리스트에 저장된 데이터의 개수를 출력
cook = ["피자", "떡볶이", "김밥", "만두", "족발", "쫄면", "라면", "김치전"]
print(len(cook))

8

In [110]:
# 평균
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print("avg : ", average)

avg :  3.0

In [111]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
# 날짜정보를 제외하고 가격정보만 출력
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [112]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 슬라이싱을 이용해서 홀수만 추출
print(nums[::2])

[1, 3, 5, 7, 9]

In [113]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 슬라이싱을 이용해서 짝수만 추출
print(nums[1::2])

[2, 4, 6, 8, 10]

In [114]:
nums = [1, 2, 3, 4, 5]
# 리스트의 숫자를 역 방향으로 출력
print(nums[::-1])

[5, 4, 3, 2, 1]

In [120]:
# join() : 문자열과 문자열을 연결
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스

In [121]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스

In [122]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스

In [123]:
data = [2, 4, 3, 1, 5, 10, 9]
# 리스트 값을 오름차순 정렬
data.sort()  # 원본이 변경
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [125]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)  # 원본이 변경되지 않는다.
print(data)
print(data2)

[2, 4, 3, 1, 5, 10, 9]
[1, 2, 3, 4, 5, 9, 10]

#### 4. 튜플(Tuple)

In [126]:
my_data = ()  # 빈 튜플 객체 생성
print(type(my_data))

<class 'tuple'>

In [127]:
movie = ("닥터 스트레인지", "스플릿", "럭키")
movie

('닥터 스트레인지', '스플릿', '럭키')

In [128]:
my_tuple = (1,)
print(type(my_tuple))

<class 'tuple'>

In [129]:
t = (1, 2, 3)
t[0] = 'a'  # 튜플과 리스트의 유일한 차이점은 변경불가

TypeError: 'tuple' object does not support item assignment

In [130]:
t = 1, 2, 3, 4  # 패킹packing
t

(1, 2, 3, 4)

In [131]:
data = list(t)
data

[1, 2, 3, 4]

In [132]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [133]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [138]:
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5]

In [143]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 7.8, 9.4, 7.3]
# 좌측 8개의 값을 val 변수로 바인딩하여 출력하는 프로그램
# 무시 : _
*val, _, _ = scores  # 언패킹
print(val)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 7.8]

In [146]:
for _ in range(5):
    print("Hi")

Hi
Hi
Hi
Hi
Hi

#### 5. 딕셔너리(Dictionary)

In [147]:
temp = { }
print(type(temp))

<class 'dict'>

In [148]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [155]:
# 딕셔너리에 아이템 추가
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [156]:
# 메로나의 가격을 출력
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [157]:
# 메로나의 가격을 1300으로 수정
ice["메로나"] = 1300
ice

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [153]:
del ice["메로나"]
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [154]:
icecream['누가바']

KeyError: '누가바'

In [158]:
products = {"메로나":[300, 20],   # value가 두 개 이상이면 리스트로 묶음
           "비비빅":[400, 3],
           "죠스바":[250,10]}
products

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 10]}

In [161]:
# 메로나 가격 추출
print(products["메로나"][0], "원")

300 원

In [162]:
# 메로나 재고 출력
print(products["메로나"][1], "개")

20 개

In [163]:
products['월드콘'] = [500, 7]
products

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 10], '월드콘': [500, 7]}

In [254]:
#keys()
product = list(products.keys())
product

list

In [258]:
product = list(products.values())
product

[[300, 20], [400, 3], [250, 10], [500, 7]]

In [175]:
# 등록된 아이스크림 가격의 총합
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [191]:
print(list(product[i][0] for i in range(4)))

[300, 400, 250, 500]

In [192]:
for i in range(4):
    print(product[i][0])

300
400
250
500

In [194]:
for i in product:
    print(i[0])

300
400
250
500

In [203]:
for i,j in products.values():
    print(i)

300
400
250
500

In [205]:
sum = 0
for i in product:
    sum += i[0]
print(sum)

1450

In [210]:
# update()
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, 
            '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [209]:
# zip 여러 개의 개체를 하나로 합침 - 두 개의 튜플을 하나로 합침
keys = ("apple", "pear", "peach")
vals = (300, 250, 40)
result = dict(zip(keys, vals))
result

{'apple': 300, 'pear': 250, 'peach': 40}

In [211]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
price = [10500, 10300, 10100, 10800, 11000]
table = dict(zip(date, price))
table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

#### 6. 제어문

In [212]:
# 분기문(if), 반복문(for while)  => 논리조건문 True or False (Bool)
print(3==4)

False

In [213]:
if 4 < 3:
    print("Hello World.")

In [214]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there")

Hi, there.

In [215]:
if True :
    print (1)
    print (2)
else :
    print(3)
print(4)

1
2
4

In [216]:
if True :
    if False:
        print(1)
        print(2)
    else:
        print(3)
else :
    print(4)
print(5)

3
5

In [218]:
# 사용자로부터 하나의 숫자를 입력받고 짝수/홀수 판정하는 프로그램
user = int(input(""))
if user % 2 == 0: 
    print("짝수")
else: 
    print("홀수")

1
홀수

In [219]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("예상적중")
else:
    print("예상실패")

좋아하는 과일은?1
예상실패

In [221]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과", "겨울" : "홍시"}

user = input("좋아하는 계절 = ")

if user in fruit:
    print(fruit[user])
else:
    print("오답")

좋아하는 계절 = 가을
사과

In [223]:
# 사용자로부터 문자를 입력받아 소문자이면 대문자로, 대문자이면 소문자로 변경
# is~
user = input("문자 = ")
if user.islower():  # 소문자 입니까?
    print(user.upper())
else:
    print(user.lower())

문자 = aPPlE
apple

In [224]:
# 학점
score = int(input("score = "))

if 90 <= score <= 100:  # 범위를 이용하여 처리
    print("grade is A")
elif 80 <= score < 90:
    print("grade is B")
elif 70 <= score < 80:
    print("grade is C")
elif 60 <= score < 70:
    print("grade is D")
else:
    print("grade is F")

score = 83
grade is B

In [225]:
과일 = ["사과", "귤", "수박"]
# for 개별변수 in 집합변수:
for 변수 in 과일:   # 횟수를 제어  - 과일.len
    print(변수)

사과
귤
수박

In [227]:
# 동일하거나 유사한 성격을 가지고 있는 문장
# 유사한 성격을 가진 문장은 일정한 규칙을 가지고 있는 문장
print("---------")
print("---------")
print("---------")
print("---------")
print("---------")

---------
---------
---------
---------
---------

In [228]:
for _ in range(5):
    print("---------")

---------
---------
---------
---------
---------

In [231]:
a = ["SK하이닉스", "삼성전자", "LG전자"]
for i in a:
    print(len(i))

6
4
4

In [233]:
for i in range(len(a)):
    print(len(a[i]))

6
4
4

In [235]:
b = ["가", "나", "다", "라"]
for i in b[::2]:
    print(i)

가
다

In [237]:
b = ["가", "나", "다", "라"]
for i in b[1:]:
    print(i)

나
다
라

In [238]:
b = ["가", "나", "다", "라"]
for i in b[::-1]:
    print(i)

라
다
나
가

In [239]:
c = [3, -20, -4, 44]
for i in c:
    if i < 0:
        print(i)

-20
-3

In [241]:
c = [3, -20, -4, 44]
for i in c:
    if i > 0:
        continue  # 이하생략, 건너뛰어라
    print(i)

-20
-4

In [242]:
d = ["I", "study", "python", "language", "hi", "!"]
# 리스트에 저장된 요소 중 세글자 이상인 문자만 출력
for i in d:
    if len(i) >= 3:
        print(i)

study
python
language

In [244]:
e = ["A", "b", "c", "D", "e", "F", "G", "h"]
# 리스트 안에 저장된 요소 중 대문자만 추출
for i in e:
    if i.isupper():
        print(i)

A
D
F
G

In [248]:
file = ['hello.py', 'exam.py', 'test.hwp', 'memo.txt']
# 파일명을 담고있는 리스트에서 확장자를 제거하고 파일이름만 추출

for i in file:
    split = i.split(".")[0]
    print(split)

hello
exam
test
memo

In [253]:
file2 = ['intro.h', 'test.c', 'define.h', 'run.py', 'demo.h']
# 확장자가 h와 py인 파일만 추출
for i in file2:
    split = i.split(".")
    if split[1] == "h" or split[1] == "py":
        print(i)

intro.h
define.h
run.py
demo.h

#### 7. 함수(Function)

In [263]:
def print_coin():
    print("hello python")

In [264]:
print_coin()

hello python

In [265]:
def print_coin():
    for i in range(10):
        print("hello python")

In [266]:
print_coin()

hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python

In [268]:
hello()  # 함수 선언 후에 호출해줘야 함

def hello():
    print("Hi")

Hi

In [269]:
hello()

Hi

In [270]:
def func(string):
    print(string)  # string 인수값이 필요함
    
func()

TypeError: func() missing 1 required positional argument: 'string'

In [271]:
def func(string):
    print(string)  # string 인수값이 필요함
    
func("안녕")  # 매개변수
func("Hi")

안녕
Hi

In [272]:
def adder(a, b):
    c = a + b
    return c

In [273]:
adder(3, 4)

7

In [274]:
x = adder(7, 8)
x

15

In [275]:
def adder(a, b):  
    return a + b   # c = a + b

In [277]:
x = adder(10, 2)
x

12

In [278]:
# 하나의 문자열을 입력받아 문자열 끝에 ":D"를 붙여 출력하는 함수
# print_str를 정의하시오.
def print_str(string):
    print(string+":D")

In [280]:
print_str("안녕하세요")

안녕하세요:D

In [281]:
# 현재 가격을 입력받아 상한가(30%)를 출력하는 함수
# print_price를 정의하시오.
def print_price(price):
    print(price*1.3)

In [282]:
print_price(3000)

3900.0

In [283]:
def print_arithmetic(x, y):
    print("{} + {} = {}".format(x, y, x+y))
    print("{} - {} = {}".format(x, y, x-y))
    print("{} * {} = {}".format(x, y, x*y))
    print("{} / {} = {}".format(x, y, x/y))

In [284]:
print_arithmetic(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [293]:
# 세 개의 숫자를 입력받아 큰 수를 출력하는 print_max 함수 정의
def print_max(x, y, z):
    max_val = 0  # max가 저장될 변수
    if a > max_val:
        max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val = c

    print("max : ", max_val)
    #print("{}, {}, {} 중 가장 큰 수 : {}".format(x, y, z ,max(x,y,z)))

In [295]:
print_max(5,3,7)

TypeError: '>' not supported between instances of 'list' and 'int'

In [296]:
# 문자열을 입력받아 역순으로 출력하는 print_reverse 함수 정의
def print_reverse(string) :
    print(string[::-1])

In [297]:
print_reverse("python")

nohtyp

In [11]:
# 리스트로 점수를 입력받아 총점과 평균을 계산하는 함수 print_score
def print_score(score_list):    
    print("total = {}".format(sum(score_list)))
    print("average = ", sum(score_list)/len(score_list))

In [14]:
print_score([1, 2, 3, 4, 5])

total = 15
average =  3.0

In [15]:
# 리스트를 입력받아 짝수만 출력하는 print_even 함수를 정의
def print_even(my_list):
    for i in my_list :
        if i % 2 == 0 :
            print(i)

In [16]:
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [21]:
# 하나의 딕셔너리를 입력받아 key값을 화면에 출력하는 함수
# print_keys
def print_keys(dic):
    for key in dic.keys():
        print(key)

In [22]:
print_keys({"이름":"홍길동", "나이":30, "성별":"M"})

이름
나이
성별

In [24]:
# 입력 문자열을 한 줄에 다섯글자씩만 출력하는 함수 print_5times()
def print_5times(strr):
    memo=""
    cnt=0
    for i in list(strr):
        memo += i
        cnt+=1
        if cnt %5==0:
            memo +="\n"
    print(memo)

In [25]:
print_5times("가나다라마사바아자차카타파하이히하호후헤")

가나다라마
사바아자차
카타파하이
히하호후헤

In [53]:
def print_5times(string):
    check = int(len(string)/5)
    
    for x in range(check+1):
        print(string[x*5:x*5+5])
        
print_5times("가나다라마사바아자차카타파하이히하호후헤")

가나다라마
사바아자차
카타파하이
히하호후헤

In [57]:
# 문자열과 한 줄에 출력될 글자 수를 입력받아 처리하는 함수
def print_mxn(string, num):
    check = int(len(string)/num)
    
    for x in range(check+1):
        print(string[x*num:x*num+num])

print_mxn("가나다라마사바아자차카타파하이히하호후헤", 3)

가나다
라마사
바아자
차카타
파하이
히하호
후헤

In [33]:
def my_print(a, b):
    print("좌측 : ", a)
    print("우측 : ", b)

my_print(100, 200)
my_print(a=100, b=200)
my_print(b=200, a=100)

좌측 :  100
우측 :  200
좌측 :  100
우측 :  200
좌측 :  100
우측 :  200

In [47]:
# 문자열을 비어있는 리스트에 추가한 후 리스트를 반환해주는 함수
# 문자열을 입력받아 출력하는 작업을 수행한다. 이 때 입력받은 문자열이
# quit이면 작업을 종료한다.

def make_list(string):
    if string == "quit": return
    my_list = []
    my_list.append(string)
    return my_list

In [48]:
make_list("abc")

['abc']

In [49]:
make_list("quit")

['quit']

In [41]:
def make_list(string):
    my_list = []
    for i in string:
        my_list.append(i)
    return my_list

In [46]:
make_list("abc")

['a', 'b', 'c']

In [43]:
def make_list2(string):
    return list(string)

In [45]:
make_list2("abc")

['a', 'b', 'c']

#### 8. 클래스(Class)

In [58]:
# OOP - 객체 지향 프로그래밍(Object-oriented programming)
# Object(객체) => 클래스
# Instance(객체) - 인스턴스객체
# self - 인스턴스 자신의 주소, 자기자신을 가리키는 포인터

In [61]:
class Human:
    # 생성자 메서드
    def __init__(self):
        print("응애응애")

kim = Human()  # Human클래스에 접근할 수 있는 인스턴스객체를 만듦
               # 자동으로 생성자 메서드 호출

응애응애

In [66]:
class Human:
    # 생성자 메서드
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

lee = Human("이순신", 25, "남자")
print(lee.name)

이순신

In [68]:
class Human:
    # 생성자 메서드
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def disp(self):
        print(self.name, end = " ")
        print(self.age, end = " ")
        print(self.gender)
        
lee = Human("이순신", 25, "남자")
lee.disp()

이순신 25 남자

In [86]:
# Object(객체) : 현실세계의 유형 무형의 모든 물질
# 과일장수 - 객체 - 클래스(객체의 속성, 행위)
class FruitSeller:  # 과일개수, 금액, 수익금
    # 멤버필드 -> 클래스변수
    apples = 100   # 판매할 과일의 개수
    price = 1000 # 판매할 과일의 금액
    money = 0    # 판매금액을 누적할 변수
    
    # 멤버메서드
    def sal(self, don): # 과일을 판매하는 행위를 기술하는 메서드
        apple = don // self.price
        self.apples -= apple
        self.money += don
        return apple
    
    def bal(self):  # 과일을 판매하여 얻어지는 판매수익을 처리
        pass
    
    def disp(self):  # 현재 과일장수의 상태를 기술
        print("과일재고 : ", self.apples)
        print("과일금액 : ", self.price)
        print("매출현황 : ", self.money)

In [87]:
seller = FruitSeller()
seller.disp()

과일재고 :  100
과일금액 :  1000
매출현황 :  0

In [75]:
seller.sal(5000)

5

In [76]:
seller.disp()

과일재고 :  95
과일금액 :  1000
매출현황 :  5000

In [80]:
seller2 = FruitSeller()
seller2.apples = 10
seller2.price = 500
seller2.disp()

과일재고 :  10
과일금액 :  500
매출현황 :  0

In [88]:
class FruitSeller:
    # 생성자 메서드
    def __init__(self, apples, price, money):
        self.apples = apples
        self.price = price
        self.money = money
    
    # 멤버메서드
    def sal(self, don): # 과일을 판매하는 행위를 기술하는 메서드
        apple = don // self.price
        self.apples -= apple
        self.money += don
        return apple
    
    def bal(self):  # 과일을 판매하여 얻어지는 판매수익을 처리
        pass
    
    def disp(self):  # 현재 과일장수의 상태를 기술
        print("과일재고 : ", self.apples)
        print("과일금액 : ", self.price)
        print("매출현황 : ", self.money)

In [89]:
aaa = FruitSeller(50, 1000, 0)
bbb = FruitSeller(100, 800, 0)
aaa.disp()
bbb.disp()

과일재고 :  50
과일금액 :  1000
매출현황 :  0
과일재고 :  100
과일금액 :  800
매출현황 :  0

In [7]:
import random

# 계좌번호 : 111-11-111111
class Account:
    # 클래스 변수 : 생성된 계좌 객체의 수를 저장하는 변수
    account_count = 0 
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "파이썬은행"
        
        num1 = random.randint(0, 999)  # randint - 난수발생(정수) / random - 0~1사이 난수
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        
        num1 = str(num1).zfill(3)  # 4 => '4' => '004'  # zfill - 앞을 0으로 채움, (자릿수)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1+'-'+num2+'-'+num3
        
        Account.account_count += 1
        
    def disp(self):
        print(self.name)
        print(self.balance)
        print(self.bank)
        print(self.account_number)

In [8]:
kim = Account("김유신", 10000)

In [3]:
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

987-09-305343
김유신
10000
파이썬은행

In [9]:
lee = Account("이순신", 20000)
# print(lee.name)
# print(lee.balance)
# print(lee.bank)
# print(lee.account_number)
lee.disp()

이순신
20000
파이썬은행
678-95-348457

In [10]:
print(Account.account_count)  # 클래스변수는 클래스명으로 접근해야함

2

In [11]:
park = Account("박문수", 50000)
park.disp()
print(Account.account_count)

박문수
50000
파이썬은행
052-02-316033
3